* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #b07cf7;
  color: #fff; 
  font-family: 'Raleway', sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.main {
  text-align: center;
}
.main-content {
  margin-top: 100px;
}
.main-title {
  font-size: 72px;
  margin-bottom: 30px;
}
.main-text {
  margin: 0 auto 40px;
  font-size: 17px;
  font-weight: 100;
  line-height: 22px;
  max-width: 570px;
}
.main-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
}
.main-card {
  position: relative;
  margin: 0 15px 30px;
  padding: 30px;
  width: 370px;
  height: 300px;
  box-shadow: 0 15px 20px -15px #000;
  cursor: pointer;
  overflow: hidden;
}
.card-date {
  display: block;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  width: 55px;
  height: 55px;
  padding: 5px;
  background-color: rgba(0, 0, 0, .4);
  border-radius: 5px;
}
.num {
font-size: 28px;
line-height: 20px;
}

.card-text {
  position: absolute;
  bottom: 30px;
  left: 30px;
  text-align: left;
}
.card-title {
  margin-bottom: 20px;
  width: 95%;
}
.card-info {
  color: #e1e1e2;
  font-size: 12px;
  font-weight: 300;
}

/* .card-1 {
  background: linear-gradient(to top, rgba(0, 0, 0, .9) , rgba(0, 0, 0, 0) 40%), url(../img/img-1.jpg) center no-repeat;
}
.card-2 {
  background:linear-gradient(to top, rgba(0, 0, 0, .9) , rgba(0, 0, 0, 0) 40%),  url(../img/img-2.jpg) center no-repeat;
}
.card-3 {
  background:linear-gradient(to top, rgba(0, 0, 0, .9) , rgba(0, 0, 0, 0) 40%),  url(../img/img-3.jpg) center no-repeat;
}
.card-1:hover {
  background: linear-gradient(to top, rgba(0, 0, 0, .9) , rgba(0, 0, 0, 0) 50%), url(../img/img-1.jpg) center no-repeat  ;
  background-image: none;
}
.card-2:hover {
  background: linear-gradient(to top, rgba(0, 0, 0, .9) , rgba(0, 0, 0, 0) 50%), url(../img/img-2.jpg) center no-repeat;
}
.card-3:hover {
  background: linear-gradient(to top, rgba(0, 0, 0, .9) , rgba(0, 0, 0, 0) 50%), url(../img/img-3.jpg) center no-repeat;
} */

.card-1 {
  background: url(../img/img-1.jpg) center no-repeat;
}
.card-2 {
  background: url(../img/img-2.jpg) center no-repeat;
}
.card-3 {
  background: url(../img/img-3.jpg) center no-repeat;
}

.card-grad {
  width: 100%;
  height: 105%;
  position: absolute;
  left: 0;
  bottom: -5%;
  transition: bottom .1s ease-out;
  background: linear-gradient(to top, rgba(0, 0, 0, .9) , rgba(0, 0, 0, 0) 45%);
}
.card-text:hover .card-grad:hover,
.card-grad:hover {
  bottom: 0;
  transition: bottom .1s ease-in;
}

.more {
  background-color: #f72b3b;
  font-weight: 300;
  text-transform: uppercase;
  padding: 12px 40px;
  box-shadow: 0 3px 7px -3px #000;
}
.more:hover {
  background-color: #e92636;
  transition: background-color .1s ease-in;
}

